<!-- footer start -->

</main>
<footer class="my-3" style="background-color: #f6f0f0">
    <div
      class="container py-4" style="font-family: 'Poppins'; background-color: #f6f0f0; ">
      <div class="row">
      <div class="fhead ">
        <h4 class="text-start mt-2" style="font-family: fantasy">
          miniStore
        </h4>
      </div >
      <div class="row  ">
        <div class="col-11 col-lg-9 ">
          <div>
            <h5 class="legend-margin-bottom text-muted">
              Welcome to MiniStore.it, your premier destination for cutting-edge electronics and top-of-the-line appliances! At MiniStore.it, we're dedicated to bringing you the latest and greatest in technology, making your everyday life more convenient, efficient, and enjoyable!
            </h5>
          </div>
          <div class="row" style="font-size: 14px">
            <div class="col-5">
              GOT QUESTIONS ? CALL US 24/7<br /><span
                class="fw-bold"
                style="color: rgb(7, 96, 18)"
                >+91 7306 482 996</span
              >
            </div>
            <div class="col-6">
              <p class="mb-0">Payment methods</p>
              <img
                style="height: 1em;"
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/payment-method-c454fb.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col ">
          <div>
            <h5 style="font-family: fantasy">Mail us</h5>
          </div>
          <p class="text-muted">
            miniStore Limited ,<br />newbazar road,alappuzha <br />688001
            kerala ,india
          </p>
        </div>

        <div class="col ">
          <div class="col-lg-2 mb-3 ">
            <h5 style="font-family: fantasy">Social</h5>
            <ul class="list-unstyled ">
              <li class="mb-2 "><a class="text-decoration-none text-muted" href="www.youtube.com">youtube</a></li>
              <li class="mb-2"><a class="text-decoration-none text-muted" href="www.facebook.com">facebook</a></li>
              <li class="mb-2"><a class="text-decoration-none text-muted" href="www.twitter.com">twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </footer>
  <!-- footer end -->