<%- include('partials/header')%>

<div class="container m-5 ">
  <div id="errorDiv" class="alert alert-danger" style="display: none;">
    <ul id="errorList">
    </ul>
  </div>
  
  <div class="row py-4">
   
     
      <form id="otpForm" action="/varifyforgotpassword" method="post" class="form-container my-5 mid col-3 m-4 p-3 rounded mx-auto" style="background-color: #f4eff4;">
        <div class="text-center">
            <label for="form" class="fw-bold text-dark">VERIFY OTP</label>
          </div>
        <h6 id="errdis" class="text-danger "></h6>
        <div class="form-group"></div>
        <div class="form-group">
          <label for="Email">ENTER OTP:</label>
          <input type="text" id="otp" name="otp" required class="form-control">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn mt-2">VERIFY</button>
        </div>
      </form>
   
  </div>
    <div class="row py-4" >
     
      <form id="passwordForm" style="display: none;background-color: #f4eff4;" action="/addforgotpassword" method="post" class="form-container my-5 mid col-3 m-4 p-3 rounded mx-auto" >
        <h6 id="errdispassword" class="text-danger "></h6>
        <div class="text-center">
            <label for="form" class="fw-bold text-dark" > ENTER YOUR NEW PASSWORD HERE:</label>
        </div>
        <div class="form-group">
          <label for="Password">Password:</label>
          <input type="password" id="Password" name="password" required class="form-control">
        </div>
        <div class="form-group">
          <label for="ConfirmPassword">Confirm Password:</label>
          <input type="password" id="ConfirmPassword" name="comformpassword" required class="form-control">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn mt-2">APPLY</button>
        </div>
      </form>
      
    </div>


<%- include('partials/footer')%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  let seconds = 5;
  let timerInterval;


  function startTimer() {
    timerInterval = setInterval(function () {
      seconds--;
      updateTimerDisplay();

      if (seconds === 0) {
        clearInterval(timerInterval);
        enableButton();
      }
    }, 1000);
  }

  function updateTimerDisplay() {
    document.getElementById("timer").innerText = seconds + "s";
  }



  function enableButton() {
    const resendButton = document.getElementById("resendButton");
    resendButton.removeAttribute("disabled");
    resendButton.classList.remove("btn-secondary"); // Optional: Change button style after enabling
    resendButton.classList.add("btn-primary"); // Optional: Change button style after enabling
  }
  function resendOTP() {
    // Change the URL to the desired link
    window.location.href = "/resendotp";
  }
  // Start the initial timer
  startTimer();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  $(document).ready(function() {
    $('#otpForm').submit(function(e) {
      e.preventDefault(); // Prevent form submission

      // Serialize form data
      var formData = $(this).serialize();

      // Send AJAX request
      $.ajax({
        type: 'POST',
        url: '/varifyforgotpassword', // Specify the URL for your server endpoint
        data: formData,
        success: function(response) {
         if(response.success){
            alert(response.msg)
         $("#otpForm").hide();
         $("#passwordForm").show();
         }else if(!response.success){
            $("#errdis").text(response.msg)
         }
        }
      });
    });
  });
</script>
<script>
    $(document).ready(function() {
      $('#passwordForm').submit(function(e) {
        e.preventDefault(); // Prevent form submission
        const password = $("#Password").val();
        const consfirmPassword = $("#ConfirmPassword").val();
       if(password!=consfirmPassword){
        $("#errdispassword").text("Password not matched");
        return false;
       }
        // Serialize form data
        var formData = $(this).serialize();
  
        // Send AJAX request
        $.ajax({
          type: 'POST',
          url: '/addforgotpassword', // Specify the URL for your server endpoint
          data: formData,
          success: function(response) {
           if(response.success){
           alert(response.msg);
           window.location.href = "/login"
           }else{
          
            if ( response.errors) {
            // Show errors in the error list
            $('#errorList').empty();
            response.errors.forEach(error => { 
              $('#errorList').append('<li>' + error.msg + '</li>');
            });
            $('#errorDiv').show();
          }
              $("#errdis").text(response.error)
           }
          }
        });
      });
    });
  </script>
   <script>
    $(document).ready(function() {
      $("#passwordForm").submit(function(event) {
       
      });
    });
  </script>
</body>
</html>
