<header class="sticky-top bg-white">
  <div class="container">
  <div class="row py-4 ">
    <div class="col-md-10 my-auto ">
      <h5 class="brand-name text-center ">miniStore</h5>
    </div>
    <div class=" col  text-dark">
      <a class="nav-link" href="/admin/logout"
        >LOGOUT
       
      </a>
    </div>
  </div>
</div>
</header>